
<div class="container">
    <div class="page-header" id="banner">	
       <div class="row">	
    	  <div class="col-lg-12 col-md-7 col-sm-6">	
    		  <div class="bs-component">	
    			  <div class="jumbotron">	
  					 <h1 class="display-3">Aloha!</h1>	
  					 <p class="lead">Bem-vindo ao site oficial dos Eventos de StandupPaddle da Bahia. Com apoio da ABASUP, foi desenvolvido essa plataforma para facilitar o gerenciamento dos organizadores e dar mais detalhes para os participantes. Confira seus melhores resultados.</p>					
  					 <hr class="my-4">					
  					 <p>Aqui você encontra todas informações sobre as etapas já realizadas,  resultados de cada atleta e categoria. Além do Ranking Final.</p>
				    </div>	
			    </div>
    	  </div>
       </div>
    </div>		
</div>  
