<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Categories
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% @categories.each do |category| %>
    <a class="dropdown-item" href="<%= category_path(category.id) %>"><%= category.name %></a>
    <% end %>
  </div>
</div>

